AddType application/x-httpd-cgi .cgi
DirectoryIndex new.cgi

RewriteEngine On
RewriteBase /paste
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ read.cgi/$0
